.cartContent{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
}

.cartContent > img{
    height: 120px;
    width: 100px;
    text-align: center;
}
.cartTotal{
    text-align: center;
}
h5, h5 {
    font-size: 1.25rem;
    margin-top: 35px;
}

.btn-secondary {
    color: #fff;


    }

    .delete-button {
        padding: 1px;
        background-color: #fff;
        border: 1px solid #ff0000;
        border-radius: 4px;
        cursor: pointer;
        border: none;
      }
      
      .trash-icon {
        color: #ac2c2c;
        font-size: 20px;
        margin-top: -25px;
      }